{
  "openapi": "3.1.0",
  "info": {
    "title": "A1Base API",
    "description": "API for sending and receiving messages across messaging platforms",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.a1base.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/messages/individual/{accountId}/send": {
      "post": {
        "summary": "Send Message",
        "description": "Send a message to an individual recipient",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "from", "to", "service"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message body text"
                  },
                  "attachment_uri": {
                    "type": "string",
                    "description": "Optional file/media attachment"
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "service": {
                    "type": "string",
                    "description": "Messaging service to use",
                    "enum": ["whatsapp", "telegram"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sid": {
                      "type": "string"
                    },
                    "date_created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "date_sent": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/messages/group/{accountId}/send": {
      "post": {
        "summary": "Send Group Message",
        "description": "Send a message to a group chat",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret", 
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "service"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message body text"
                  },
                  "attachment_uri": {
                    "type": "string",
                    "description": "Optional file/media attachment"
                  },
                  "service": {
                    "type": "string",
                    "description": "Messaging service to use",
                    "enum": ["whatsapp", "telegram"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "chat_group_id": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["queued", "sent"]
                    },
                    "date_created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "attachment_uri": {
                      "type": "string"
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError" 
                }
              }
            }
          }
        }
      }
    },
    "/messages/individual/{accountId}/get-details/{messageId}": {
      "get": {
        "summary": "Get Message Details",
        "description": "Get details for a specific message",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chat_id": {
                      "type": "string"
                    },
                    "chat_name": {
                      "type": "string"
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "account_id": {
                      "type": "string"
                    },
                    "message_id": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["queued", "sent"]
                    },
                    "date_created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "attachment_uri": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {
                    "type": ["string", "integer"]
                  }
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Secret"
      }
    }
  }
}