{
  "openapi": "3.1.0",
  "info": {
    "title": "A1Base API",
    "description": "API for sending and receiving messages across messaging platforms",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.a1base.com/v1"
    }
  ],
  "security": [
    {
      "apiKeyAuth": [],
      "apiSecretAuth": []
    }
  ],
  "paths": {
    "/messages/individual/{accountId}/send": {
      "post": {
        "summary": "Send Message",
        "description": "Send a message to an individual recipient",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "from", "to", "service"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message body text"
                  },
                  "attachment_uri": {
                    "type": "string",
                    "description": "Optional file/media attachment"
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender phone number"
                  },
                  "to": {
                    "type": "string",
                    "description": "Recipient phone number"
                  },
                  "service": {
                    "type": "string",
                    "description": "Messaging service to use",
                    "enum": ["whatsapp", "telegram"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["queued", "sent"]
                    },
                    "date_created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "attachment_uri": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/messages/group/{accountId}/send": {
      "post": {
        "summary": "Send Group Message",
        "description": "Send a message to a group chat",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content", "thread_id", "service", "from"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Message body text"
                  },
                  "attachment_uri": {
                    "type": "string",
                    "description": "Optional file/media attachment"
                  },
                  "from": {
                    "type": "string",
                    "description": "Sender phone number"
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "ID of the chat thread"
                  },
                  "service": {
                    "type": "string",
                    "description": "Messaging service to use",
                    "enum": ["whatsapp", "telegram"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "chat_group_id": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["queued", "sent"]
                    },
                    "date_created": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "direction": {
                      "type": "string"
                    },
                    "attachment_uri": {
                      "type": "string"
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/messages/individual/{accountId}/get-details/{messageId}": {
      "get": {
        "summary": "Get Message Details",
        "description": "Get details for a specific message",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success"]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chat_id": {
                          "type": "string"
                        },
                        "chat_name": {
                          "type": "string"
                        },
                        "participants": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "account_id": {
                          "type": "string"
                        },
                        "message_id": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["queued", "sent"]
                        },
                        "date_created": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "direction": {
                          "type": "string"
                        },
                        "attachment_uri": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Message not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/messages/threads/{accountId}/get-recent/{threadId}": {
      "get": {
        "summary": "Get Recent Thread Messages",
        "description": "Get the 5 most recent messages from a thread",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent messages retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Thread not found"
          }
        }
      }
    },
    "/messages/threads/{accountId}/get-details/{threadId}": {
      "get": {
        "summary": "Get Thread Details",
        "description": "Get details for a specific thread",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thread details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success"]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_id": {
                          "type": "string"
                        },
                        "chat_id": {
                          "type": "string"
                        },
                        "chat_name": {
                          "type": "string"
                        },
                        "participants": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Thread not found"
          }
        }
      }
    },
    "/messages/threads/{accountId}/get-all": {
      "get": {
        "summary": "Get All Threads",
        "description": "Get all threads for an account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All threads retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No threads found"
          }
        }
      }
    },
    "/messages/threads/{accountId}/get-all/{phone_number}": {
      "get": {
        "summary": "Get All Threads by Phone Number",
        "description": "Get all threads for an account filtered by phone number",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threads retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No threads found"
          }
        }
      }
    },
    "/whatsapp/incoming": {
      "post": {
        "summary": "Receive WhatsApp Message",
        "description": "Webhook endpoint for receiving incoming WhatsApp messages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["secret_key"],
                "properties": {
                  "secret_key": {
                    "type": "string"
                  },
                  "external_thread_id": {
                    "type": "string"
                  },
                  "external_message_id": {
                    "type": "string"
                  },
                  "chat_type": {
                    "type": "string",
                    "enum": ["group", "individual", "broadcast"]
                  },
                  "content": {
                    "type": "string"
                  },
                  "sender_name": {
                    "type": "string"
                  },
                  "sender_number": {
                    "type": "string"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "a1_account_number": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message received successfully"
          },
          "403": {
            "description": "Invalid secret key"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {
                    "type": ["string", "integer"]
                  }
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "apiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Secret"
      }
    }
  }
}